################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SelectionSort/obj
/BubbleSort/obj/Debug/net9.0
