################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/obj

/*/obj\

/BubbleSort/obj/**
/Test/bin/Debug/net9.0
/InsertionSort/bin/Debug/net9.0
